@media screen and (max-width: 992px) {
    .card{
        height: 95vh;
        width: 85vw;
        margin-top: 2rem;
    }
    
    .container{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    
}
