@media screen and (min-width:992px) {
    .banner__text{
        justify-content: center;
        height: 90%;
        width: 40%;
    }
    
    .banner__text__title{
        font-size: 3rem;
    }
    
    .banner__text__p{
        font-size: 1.2rem;
    }
}