@media screen and (min-width: 992px){
    .card{
        height: 70vh;
        width: 55vw;
    }

    
    .container{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 60%;
    }

    .card__community, .card__subscription, .card__why_us{
        padding: 2rem;
    }
    
    .card__community{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card__subscription__button{
        margin-top: 1rem;
    }
}
