@media screen and (min-width: 992px) {
    .card{
        height: 95vh;
        width: 85vw;
    }
    
    .container{
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    
}
