.banner__signature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 90%;
}

.banner__signature__trial{
    color: rgb(255, 255, 255);
    background-color: var(--blue);
    border-radius: 12px;
    height: 5rem;
    line-height: 1.5rem;
    padding: 1rem 3rem;
    text-align: center;
    width: 100%;
}

.banner__signature__form{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.banner__signature__form p{
    color: var(--grayishBlue);
    font-size: 0.9rem;
    text-align: center;
    width: 90%;
}


.banner__signature__form p em{
    color: var(--red);
}

.banner__signature__form__input{
    border: 1px solid var(--grayishBlue);
}

.banner__signature__form__input::placeholder{
    color: var(--darkBlue);
    font-weight: bold;
    text-transform: capitalize;
}


.banner__signature__form__submit{
    background-color: var(--green);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.banner__signature__form__input, .banner__signature__form__submit{
    border-radius: 5px;
    height: 3.5rem;
    margin-top: 1rem;
    width: 90%;
}