.card__subscription{
    background-color: var(--cyan);
}

.card__subscription__title{
    color: #fff;
}

.card__subscription__price{
    display: flex;
    align-items: center;
}

.card__subscription__price__value{
    color: #fff;
}

.card__subscription__price__period{
    color: var(--lightGray);
}

.card__subscription__decoy{
    color: var(--lightGray);
}

.card__subscription__button{
    background-color: var(--brightYellow);
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    height: 3rem;
    width: 100%;
}